.blogmaster {
    display: grid;
    /*height: 100vh;*/
    
    grid-template-areas:
       "hd"
       "main"
       "ft";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 70px;

}
.masterheader {
    background-color: rgb(3, 63, 60);
    color: white;
    grid-area: hd;
}
.mastercontainer{
    display: flex;
    justify-content:space-around;
    grid-area: main;
    background-color: beige;
    flex-wrap: wrap;
    
}
.masterfooter{
    background-color: rgb(3, 63, 60);
    color: white;
    grid-area: ft;

}
